@import 'variables';

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	/*color-scheme: light dark;*/
	/*color: rgba(255, 255, 255, 0.87);*/
	/*background-color: #242424;*/

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

#app {
	width: 100%;

	.main {
		max-width: 1280px;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	position: relative;
}

input {
	margin: 0;
	appearance: none;
	border: none;
	outline: none;
	padding: 0 16px;
	background: transparent;
}

button {
	appearance: none;
	outline: none;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 0;
	line-height: 0;

	&:disabled {
		pointer-events: none;
	}
}

a {
	color: $text-color-main;

	&:hover {
		text-decoration: none;
	}
}

// Transition styles

.v-enter-active,
.v-leave-active {
	transition: opacity 0.2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}
